body{
            background-color: rgb(241, 87, 87);
            color:rgb(0, 0, 19)
        }
        h1{
            color:rgb(0, 0, 0)
        }


    #html{

         color: rgb(155, 52, 52);
    
    }
    
    #curtir{
        background-color: rgb(226, 96, 96);
        color: black;
        padding: 5px 10px 5px 10px; /*espaço de dentro*/
        border: 2px solid darkred; /*borda*/
        
    }