body{
            background-color: rgb(116, 98, 219);
            color:rgb(0, 0, 0)
        }
        h1{
            color:rgb(0, 0, 0)
        }


    #html{

         color: rgb(12, 11, 12);
    
    }
    
    #curtir{
        background-color: rgb(76, 78, 245);
        color: rgb(20, 8, 8);
        padding: 5px 10px 5px 10px; /*espaço de dentro*/
        border: 2px solid rgb(70, 65, 119); /*borda*/
        
    }