body{
            background-color: rgb(63, 45, 160);
            color:rgb(41, 2, 29)
        }
        h1{
            color:rgb(0, 0, 0)
        }


    #html{

         color: rgb(27, 2, 18);
    
    }
    
    #curtir{
        background-color: rgb(76, 78, 245);
        color: rgb(20, 8, 8);
        padding: 5px 10px 5px 10px; /*espaço de dentro*/
        border: 2px solid rgb(14, 0, 139); /*borda*/
        
    }